# Téléchargement APK / média
NEXT_PUBLIC_APK_URL=
NEXT_PUBLIC_APK_URL_FALLBACK=
NEXT_PUBLIC_APK_VERSION=
NEXT_PUBLIC_TRAILER_YT=
NEXT_PUBLIC_TRAILER_MP4=
NEXT_PUBLIC_GITHUB_REPO=
NEXT_PUBLIC_APK_FILENAME=

# Backend Supabase (la clé publiable peut être intégrée au client)
NEXT_PUBLIC_SUPABASE_URL=https://smwrpejnegtssmtmnecb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3-7XDsd5zEd-3rrqr0-xgQ_kk0z3ArR
