# Téléchargement APK / média
NEXT_PUBLIC_APK_URL=
NEXT_PUBLIC_APK_URL_FALLBACK=
NEXT_PUBLIC_APK_VERSION=
NEXT_PUBLIC_TRAILER_YT=
NEXT_PUBLIC_TRAILER_MP4=
NEXT_PUBLIC_GITHUB_REPO=
NEXT_PUBLIC_APK_FILENAME=

# Backend / proxy
NEXT_PUBLIC_RENDER_API_URL=https://server-jeux-millionnaire.onrender.com
NEXT_PUBLIC_SOCKET_BASE=https://server-jeux-millionnaire.onrender.com
NEXT_PUBLIC_USE_PROXY=1
NEXT_PUBLIC_FORCE_ABS=0
